.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.body {
  background-color: darkslategray;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.footer {
  background-color: grey;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.skeleton-card{
  background-color: whitesmoke;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  border-radius: 10px;
  width: 20%;
  margin-bottom: 2%;
  -webkit-box-shadow: 7px 10px 28px -2px rgba(0,0,0,0.63);
  -moz-box-shadow: 7px 10px 28px -2px rgba(0,0,0,0.63);
  box-shadow: 7px 10px 28px -2px rgba(0,0,0,0.63);
}

.header .skeleton-card{
  color: #282c34;
}
.body .skeleton-card{
  color: darkslategray;
}
.footer .skeleton-card{
  color: gray;
}

.card-box{
  margin-top: 5%;
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  flex-wrap: wrap;
}

.id-card{
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.id-card h5{
  font-size: 15px;
}
.App-link {
  color: #61dafb;
}
.title-card{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.title-card h5{
  font-size: 15px;
  justify-content: start;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
